<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>巡礼对比图生成器</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>巡礼对比图生成器</h1>
    </header>
    <img class="output-image">
    <div class="config-box">
        <div class="label-box" style="padding: 10px 0 4px;">
            <div class="head">
                <b>边框</b>
                <span class="config-margin-value">0</span>
            </div>
            <input type="range" min="0" max="100" step="20" value="0" class="input-range-margin">
        </div>
        <div class="label-box" style="padding: 10px 0 4px;">
            <div class="head">
                <b>底色</b>
                <span class="config-background-color">#EEEEEE</span>
            </div>
            <input type="color" value="#EEEEEE" class="input-background-color">
        </div>
        <div class="label-box" style="padding: 10px 0 4px;">
            <div class="ui-tabs">
                <a class="ui-tab" 
                    v-model="config.direction"
                    value="vertical"
                    onclick="setDirectionByEl(this)">纵向</a>
                <a class="ui-tab"
                v-model="config.direction"
                value="horizontal"
                onclick="setDirectionByEl(this)">横向</a>
            </div>
        </div>
    </div>
    <div class="output-box">
        <a class="ui-btn download-btn" target="_blank">保存对比图</a>
        <a class="ui-btn share-btn" target="_blank">分享图片</a>
    </div>
    <div class="content-box">
        <p data-client="pc">点击或拖拽图片到对应区域上传换图</p>
        <p data-client="phone">点击对应区域换图，长按图片也可存图</p>
        <p>
            在地图中寻找圣地
            <a href="https://anitabi.cn/map" target="_blank">https://anitabi.cn</a>
        </p>
        <p>
            <a href="https://github.com/itorr/image-merge/issues/1" target="_blank">待做功能许愿 #1</a>
            <small>
                打不开可以来
                <a href="https://weibo.com/1197780522/N8tqXpFzH" target="_blank">微博评论</a>
            </small>
        </p>
        <p>
            禁止商业用途，动画截图归属动画委员会
        </p>
    </div>
    <footer>
        <a href="https://lab.magiconch.com/" target="_blank">神奇海螺试验场</a>
        <a href="https://weibo.com/reiove" target="_blank">@卜卜口</a>
        <a href="https://github.com/itorr/image-merge" target="_blank">GitHub</a>
    </footer>
    <script src="image-merge.js"></script>
</body>
</html>
