html{
    background:#999;
    font: 14px sans-serif;
    &[data-loading="true"]{
        cursor: wait;
        & > *{
            pointer-events: none;
        }
        &::after{
            content: '生成中…';
            position: fixed;
            top: 0;
            right: 0;
            margin: 10px;
            color:#FFF;
            background:rgba(0,0,0,.5);
            font-size: 12px;
            line-height: 20px;
            padding: 0 4px;
            border-radius: 2px;
            opacity: 0.5;
        }
    }
   
}
body{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
header{
}
a{
    color: #222;
    text-decoration: none;
}

canvas,
.output-image{
    display: block;
    cursor: pointer;
    width: 100%;
	aspect-ratio: 16 / 18;
}
.content-box{
    padding: 10px;
}
.output-box{
    padding: 10px;
    text-align: center;
}

a{
    color: #444;
    text-decoration: none;
}
.ui-btn{
    display: inline-block;
    border: 2px solid #000;
    color:#000;
    padding: 10px;
    line-height: 1;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}



footer {
    text-align: center;
    padding: 80px 0;
    color: #999;
    line-height: 20px
}

footer>* {
    display: inline-block;
    vertical-align: top;
    padding: 0 4px
}

@media (max-width:800px) {
    [data-client="pc"]{
        display: none;
    }
}
@media (min-width:800px) {
    [data-client="phone"]{
        display: none;
    }
}




.label-box{
    padding: 4px 0;
    width:320px;
    max-width:100%;
    margin:0 auto;
    font-size:12px;
    .head{
        overflow: hidden;
        b{float: left;}
        span{float: right;}
    }
}
input[type="range"]{
    display: block;
    margin:0 auto;
    width:100%;
}


.ui-tabs{
    display: flex;
	justify-content: center;
    .ui-tab{
        display: inline-block;
        cursor: pointer;
        color: #000;
        border-radius: 3px;
        line-height: 24px;
        padding: 0 6px;
        &[data-checked="true"]{
            background: #000;
            color: #FFF;
        }
    }
}