html{
    background:#999;
    font: 14px sans-serif;
}
body{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
header{
}
a{
    color: #222;
    text-decoration: none;
}

canvas{
    display: block;
    cursor: pointer;
    width: 100%;
	aspect-ratio: 16 / 18;
    background:#FFF;
}
.content-box{
    padding: 10px;
}
.output-box{
    padding: 10px;
    text-align: center;
}

a{
    text-decoration: none;
}
.ui-btn{
    display: inline-block;
    border: 2px solid #000;
    color:#000;
    padding: 10px;
    line-height: 1;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}



footer {
    text-align: center;
    padding: 80px 0;
    color: #999;
    font-size: 12px;
    line-height: 20px
}

footer>* {
    display: inline-block;
    vertical-align: top;
    padding: 0 4px
}